### Application
app:
    ADMIN_PASSWORD: ${TNA_ADMIN_PASSWORD}

spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/tna?serverTimezone=UTC
        username: ${MYSQL_USER}
        password: ${MYSQL_PASSWORD}
    jpa:
        hibernate.ddl-auto: update
        properties:
            hibernate.dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        show-sql: true
        open-in-view: false

server:
    port: 8080
    servlet:
        context-path: /api
    error:
        include-exception: true
        include-message: always
